.marker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 3px solid transparent;
  cursor: pointer;
  transition: var(--transition-default);

  &:hover {
    transform: scale(1.5);
  }

  &-online {
    border-color: var(--line-positive);
  }

  &-offline {
    border-color: var(--line-gray);
  }

  &-hidden {
    border-color: var(--line-200);
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .initial {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    color: var(--color-text-500);
    background: var(--color-surface-100);
  }
}
